In [1]:
import sqlite3 as sq

In [2]:
con=sq.connect("D:/23BCA312/sqlite-tools-win-x64-3460000/python_internal_7.db")

In [3]:
cur=con.cursor()

In [4]:
cur.execute("""create table if not exists contact(fname,lname,contact int primary key,email,city) """)

In [5]:
cur.execute("""insert into contact values("neha","shrivastav",9755653435,"nehashriv@gmail.com","valod"),
                ("kavita","poddar",9876543456,"kavita@gmail.com","vyara"),
                ("varsha","singh",8976553345,"varsha@gmail.com","bardoli"),
                ("priya","singh",8123456788,"priya@gmail.com","surat"),
                ("rani","gupta",9354236747,"rani@gmail.com","surat"),
                ("puja","teli",8746574564,"pooja@gmail.com","vyara"),
                ("trisha","yadav",9754466456,"@gmail.com","surat")""")

In [6]:
cur.execute("""create table if not exists contact_log( operation_name ,
    operation_datetime TIMESTAMP,
    new_fname,
    new_lname ,
    new_contact) """)

In [7]:
cur.execute(""" create trigger if not exists insert_log 
                after insert on contact
                 for each row
                 BEGIN
                 insert into contact_log 
                 values('INSERT',datetime('now'), new.fname, new.lname, new.contact);
                 end;""")

In [8]:
cur.execute("""insert into contact values("shreya","poddar",2276543456,"kavita@gmail.com","vyara") """)

In [9]:
cur.execute("select * from contact_log")

In [12]:
record=cur.fetchall()
print(record)

[('INSERT', '2024-09-20 11:05:07', 'shreya', 'poddar', 2276543456)]

In [13]:
cur.execute("""create table if not exists contact2_log( operation_name ,
    operation_datetime TIMESTAMP,
    old_fname,
    old_lname ,
    old_contact) """)

In [14]:
cur.execute(""" create trigger if not exists delete_log 
                after delete on contact
                 for each row
                 BEGIN
                  insert into contact_log 
                 values('DELETE', datetime('now'), old.fname, old.lname, old.contact);
                 end;""")

In [16]:
cur.execute("delete from contact where fname='neha'")

In [17]:
cur.execute("select * from contact2_log")

In [18]:
record=cur.fetchall()
print(record)

[]